{% extends 'template.html.twig' %}
{% block body %}
    <p>voila le lien absolue {{ url('app_tab') }}</p>
<table class="table table-bordered table-sm text-center">
 <thead>
    <tr>
        <th>notes</th>
    </tr>
 </thead>

    <tbody>
     {% for note in notes %}

        <tr><td>{{ note }}</td> </tr>

    {% endfor %}

    </tbody>
</table>
<div class="alert alert-info">
    <p>Nombre notes : {{ notes|length }}</p>
    <p>min notes : {{ min(notes) }}</p>
    <p>max notes : {{ max(notes) }}</p>

</div>
    <p class="elrt alert-secondary">{{ include('fragments/date-jour.html.twig') }}</p>
<img src="{{ asset('assets/images/') ~ path | default_image }}"  alt="">

{% endblock %}
{% block page %} Listes des Notes Des Etudiants{% endblock %}
{% block myTitle %}Notes{% endblock %}