{% extends 'template.html.twig' %}
{% block body %}
    {{ include('fragments/date-jour.html.twig') }}

    <a href="{{ path('app_tab',{taille:8} )}}">Listes des notes des  8 Etudiants</a>
<table class="table  table-warning text-center">
    <thead class="table-info" >
    <tr >
        <th class="">name</th>
        <th>age</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr class="table-{% if loop.index is odd %}danger{% else %}dark{% endif %}">
        <td>{{ user.name }}</td>
        <td>{{user.age}}</td>
        <td>{{render(controller('App\\Controller\\GProduitController::sayHello',{name:user.name}))}}</td>



    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block page %}Lists Of Users{% endblock %}
{% block myTitle %}Users{% endblock %}